<div class="card">
    <div class="card card-header">
        <h2 class="card-title">{{ article.title }}</h2>
    </div>
    
    <img class="card-img-top align-self-center" src="{{ article.urlToImage }}" alt="Card image cap">

    <div class="card-body">
        <h4 class="card-text">{{ article.description }}</h4>
        <p class="card-text">{{ article.content }}</p>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ article.publishedAt }}</li>
        <li class="list-group-item">{{ article.source.name }}</li>
    </ul>

    <div class="card-body">
        <a href="{{ article.url }}" class="card-link">Link to article</a>
    </div>
</div>
