<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular News</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Business</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Politics</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Science</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Sports</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown">
                More Categories
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#">Health</a>
                <a class="dropdown-item" href="#">Finance</a>
                <a class="dropdown-item" href="#">Entertainment</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>